DOC/l298.pdf
backUp/
PLD/ms/libraries
PLD/ms/nppBackup
PLD/ms/work
PLD/ms/ibex_system.cr.mti
PLD/ms/ibex_system.mpf
PLD/ms/vsim.wlf
PLD/ms/wlft42xz7x
PLD/ms/wlftbg10eb
PLD/ms/wlftm9kj5y
PLD/ms/wlftq2z32f
PLD/ms/wlfttnqazr
PLD/ms/wlftwyirzw
PLD/ms/wlftyv38z3

PLD/qua_pr/db
PLD/qua_pr/greybox_tmp
PLD/qua_pr/incremental_db
PLD/qua_pr/nppBackup
PLD/qua_pr/output_files
PLD/qua_pr/2WhellPlatform.ipregen.rpt
PLD/qua_pr/2WhellPlatform.qpf
PLD/qua_pr/2WhellPlatform.qsf
PLD/qua_pr/ibex-sys.qws
PLD/qua_pr/TwoWhellPlatform.sv.bak

PLD/source/bus_mux/nppBackup
PLD/source/nppBackup
PLD/source/ibex_sys.sv.bak
PLD/source/peripherial/BootLoader/nppBackup
PLD/source/peripherial/Timer/nppBackup
PLD/source/peripherial/uart_module/nppBackup
PLD/source/ram/nppBackup
PLD/source/tb/nppBackup
PLD/sw/program.coe
PLD/sw/program.hex
PLD/sw/program.mif
PLD/sw/program.ver
PLD/sw/Hello/ibex_core_pkg/devices/nppBackup
PLD/sw/Hello/Output
PLD/sw/Hello/SEGGER
PLD/sw/Hello/Hello.emProject
PLD/sw/Hello/Hello.emSession
PLD/sw/Hello/riscv_crt0.s


